<!--<iframe src="https://dagmardegroot6.wixsite.com/website" style="border: 0; width: 100%; height: 100%">Your browser doesn't support iFrames.</iframe>-->

<ion-content>
  <ion-grid>
    <ion-row class="grey-section ion-padding-horizontal">
      <a
        href="https://dagmardegroot6.wixsite.com/website/acknowledgements"
        target="_blank"
        class="header-link"
      >
        Acknowledgements
      </a>
      <a
        href="https://dagmardegroot6.wixsite.com/website/disclaimer"
        target="_blank"
        class="header-link"
      >
        Disclaimer
      </a>
      <a
        href="https://dagmardegroot6.wixsite.com/website/resources"
        target="_blank"
        class="header-link"
      >
        Resources
      </a>
    </ion-row>
    <ion-row class="red-section ion-padding">
      <h1 class="introduction-title">
        DOM SQUARE TIME TRAP
      </h1>

      <div class="full-width ion-text-center">
        <p>
          Hello Chosen One,
        </p>
        <p>
          You do not know me yet but I will be your guide in this adventure. To
          start the game click on the red marker on the map. Then I will brief
          you on your quest. After our encounter another red marker will appear
          on the map. You will need to press this red marker, so that you can
          engage with the characters in the game and pursue your adventure. The
          marker will turn green when you have completed this part of the quest.
          Once you have completed one part of the quest, make your way to the
          next red marker. If you want to learn more information about the
          characters, you can do so by pressing the “More information” on the
          pop-over or at the end of your dialogue with the game's characters.
        </p>
        <p>
          Good luck Chosen One!
        </p>
      </div>

      <div class="ion-text-center full-width">
        <ion-button
          (click)="onPlayClicked()"
          class="ion-text-center"
          fill="outline"
          color="light"
          >Play Game
        </ion-button>
      </div>
    </ion-row>

    <ion-row>
      <img
        src="/assets/img/introduction/backgroud nassau_buys ballot_sun. 2 colour_publicdomain1.jpg"
        alt=""
        class="image-section"
      />
    </ion-row>

    <ion-row class="black-section ion-padding">
      <h1 class="introduction-title">
        LIVING PASTS PROTOTYPE
      </h1>
      <h3 class="introduction-title">
        Introduction to our web-based treasure hunt
      </h3>
      <div class="full-width ion-text-center">
        <p>
          Welcome to our web-based treasure hunt! Here you'll find an
          instruction to play the game and the link to the game itself. We
          created this game in order to explore the Dom Square and its
          surroundings from another perspective. At the same time you'll get to
          know several historical characters and hopefully gain some local
          Utrecht history along the way! On this site you can also see our
          trailer, look at our disclaimer and our acknowledgements. You can also
          take a look at our used sources on this website. This game is part of
          Living Past, a multidisciplinary course at Utrecht University.
        </p>
        <p>
          More information on
          <a href="https://livingpasts.com/" target="_blank">Living Pasts</a>
        </p>
        <p>
          <img
            src="/assets/img/introduction/logo.png"
            alt="Logo"
            class="logo-img"
          />
        </p>
      </div>
    </ion-row>

    <ion-row>
      <p class="full-width ion-text-center">
        © 2020 by Dom Square Time Trap
      </p>
    </ion-row>
  </ion-grid>
</ion-content>
